@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: rgba(255, 248, 242, 0.6);

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
