@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: rgba(255, 248, 242, 0.6);

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.7s ease forwards;
}

@keyframes bounceUp {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes bounceDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(20px); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
}

@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

/* assign animation classes */
.bounceUp { animation: bounceUp 1s ease-in-out; }
.bounceDown { animation: bounceDown 1s ease-in-out; }
.shake { animation: shake 0.5s ease-in-out; }
.swing { animation: swing 1s ease-in-out; }